.overlay{
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    width: 400px;
    max-width: 90%;
}

.close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}   